* {
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.dark {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 25px;
  left: 90%;
  overflow: hidden;
}

.dark-mode {
  background-color: rgb(31, 31, 31);
}

.dark button {
  background-color: transparent;
  text-decoration: none;
  box-shadow: none;
  color: transparent;
  border-color: transparent;
}

.toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 62px;
  height: 32px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #707070;
  transition: background-color ease 0.3s;
}

.toggle:before {
  content: "on off";
  display: block;
  position: absolute;
  z-index: 2;
  width: 28px;
  height: 28px;
  background: #fff;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  font: 10px/28px Helvetica;
  text-transform: uppercase;
  font-weight: bold;
  text-indent: -22px;
  word-spacing: 37px;
  color: #fff;
  white-space: nowrap;
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.toggle:checked {
  background-color: #4cd964;
}

.toggle:checked:before {
  left: 32px;
}




/* DARK MODE SET PAGE ELEMENTS */





.dark-mode .sidebar {
  color: white;
}

.dark-mode .sidebar-top h1 .study {
  color: rgb(236, 236, 236);
}

.dark-mode .tabs {
  background-color: rgb(36,36,36);
}

.dark-mode .dropdown nav span{
background: #2c2e31;
color: white;
}

.dark-mode .dropdown .slide {
  background-color: rgb(36,36,36);
}

.dark-mode .boxtext {
  background: rgb(31, 31, 31);
}

.dropdown .dropbtn {
  background-color: #3498db;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dark-mode .textbox textarea {
  background-color: rgb(31, 31, 31);
  color: white;
}

.dark-mode .title textarea {
  background-color: rgb(31, 31, 31);
  color: white;
}

.dark-mode .pages .pageorg a {
  color: #fff;
}

.dark-mode .arrowdown .fas.fa-angle-right.dropdown {
  color: white;
}




/* Main CSS */






.dropdown nav {
  z-index: 1;
  top: 0.7%;
  position: absolute;
  width: 150px;
  margin-left: 1725px;
}

.dropdown nav span {
  padding: 6px;
  margin-top: 10px;
  background: rgb(172, 172, 172);
  color: black;
  font-size: 1.2em;
  font-variant: small-caps;
  cursor: pointer;
  display: block;
}

.dropdown span::after {
  float: right;
  right: 10%;
  content: "+";
}

.dropdown .slide {
  background-color: rgb(193, 193, 201);
  margin-top: 0px;
  clear: both;
  width: 150px;
  height: 0px;
  text-align: center;
  transition: height 0.4s ease;
}

.dropdown .slide li {
  padding: 10px;
  margin-left: -75px;
}

.dropdown #touch {
  position: absolute;
  opacity: 0;
  height: 0px;
}

.dropdown #touch:checked + .slide {
  height: 300px;
}

.sidebar {
  z-index: 0;
}

.sidebar-top {
  z-index: 4;
  position: absolute;
  left: 3.15%;
}
.sidebar-top h1 {
  font-size: 25px;
}

.sidebar-top h1 .study {
  color: black;
}

.sidebar-top h1 .app {
  color: rgb(144, 144, 240);
}

.tabs {
  margin-left: -12px;
  margin-top: -12px;
  z-index: 2;
  position: absolute;
  height: 1050px;
  width: 240px;
  background-color: rgb(162, 162, 170);
}

.textbox .preview p {
  color: white;
  font-size: 25px;
}


.textbox textarea {
  background-color: white;
  width: 1625px;
  height: 900px;
  margin-top: 60px;
  margin-left: 250px;
  border: 0;
  color: black;
  appearance: none;
  border-color: transparent;
  outline: transparent;
  overflow: scroll;
}

.title textarea {
  background-color: #fff;
  width: 500px;
  height: 20px;
  margin-left: 250px;
  border: 0;
  color: black;
  appearance: none;
  border-color: transparent;
  outline: transparent;
  overflow: scroll;
  font-size: 20px;
  font-weight: bolder;
}

.pages {
  position: absolute;
  z-index: 8;
  margin-top: 100px;
  width: 240px;
  height: 26px;
  text-align: center;
  margin-left: -12px;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.pages:hover {
  background-color: rgba(66, 66, 66, 0.4);
  transition: 0.3s ease-in-out;
}

.pageorg {
  width: 220px;
  display: inline-block;
}

.pages .pageorg a {
  text-decoration: none;
  color: black;
  width: 240px;
  margin-top: 3.5px;
  margin-left: -10px;
  text-align: center;
  display: inline-block;
}


.arrowdown .fas.fa-angle-right.dropdown {
  position: absolute;
  margin-top: 100px;
  margin-left: 50px;
  width: 20px;
  z-index: 9;
 display: inline-block;
 line-height: 1.7;
 cursor: pointer;
 color: black;
 transition: 0.3s ease-in-out;
}

.arrowdown .fas.fa-angle-right.dropdown:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.2);
}








 





