* {
  overflow: hidden;
}

.dark {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 25px;
  left: 90%;
  overflow: hidden;
}

.dark-mode {
  background-color: rgb(28, 28, 33);
}

.dark button {
  background-color: transparent;
  text-decoration: none;
  box-shadow: none;
  color: transparent;
  border-color: transparent;
}

.toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 62px;
  height: 32px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #707070;
  transition: background-color ease 0.3s;
}

.toggle:before {
  content: "on off";
  display: block;
  position: absolute;
  z-index: 2;
  width: 28px;
  height: 28px;
  background: #fff;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  font: 10px/28px Helvetica;
  text-transform: uppercase;
  font-weight: bold;
  text-indent: -22px;
  word-spacing: 37px;
  color: #fff;
  white-space: nowrap;
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.toggle:checked {
  background-color: #4cd964;
}

.toggle:checked:before {
  left: 32px;
}

.dark-mode .sidebar {
  color: white;
}

.dark-mode .sidebar-top h1 .study {
  color: rgb(236, 236, 236);
}

.dark-mode .tools {
  background-color: rgb(82, 82, 95);
}

.dark-mode .tabs {
  background-color: rgb(56, 56, 66);
}

.dark-mode .dropdown nav span{
background: #2d2f31;
color: white;
}

.dark-mode .dropdown .slide {
  background-color: rgb(56, 56, 66);
}

.dropdown .dropbtn {
  background-color: #3498db;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown nav {
  z-index: 1;
  top: 0.7%;
  position: absolute;
  width: 150px;
  margin-left: 1725px;
}

.dropdown nav span {
  padding: 5px;
  background: white;
  color: black;
  font-size: 1.2em;
  font-variant: small-caps;
  cursor: pointer;
  display: block;
}

.dropdown span::after {
  float: right;
  right: 10%;
  content: "+";
}

.dropdown .slide {
  background-color: rgb(193, 193, 201);
  margin-top: 0px;
  clear: both;
  width: 150px;
  height: 0px;
  text-align: center;
  transition: height 0.4s ease;
}

.dropdown .slide li {
  padding: 10px;
  margin-left: -75px;
}

#touch {
  position: absolute;
  opacity: 0;
  height: 0px;
}

#touch:checked + .slide {
  height: 300px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.sidebar {
  z-index: 0;
}

.sidebar-top {
  z-index: 4;
  position: absolute;
  left: 2%;
}

.sidebar-top h1 .study {
  color: black;
}

.sidebar-top h1 .app {
  color: blue;
}

.sidebar-head {
  position: absolute;
  z-index: 3;
  margin-top: 75px;
  margin-left: 75px;
}

.tabs {
  margin-left: -12px;
  margin-top: -12px;
  z-index: 2;
  position: absolute;
  height: 1050px;
  width: 240px;
  background-color: rgb(162, 162, 170);
}

.tools {
  margin-top: -11px;
  width: 1920px;
  height: 50px;
  z-index: 0;
  position: absolute;
  background-color: rgb(193, 193, 201);
}
